# Dados ausentes

Vamos mostrar alguns m√©todos convenientes para lidar com Missing Data em pandas:

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [9]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [10]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [11]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [26]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [14]:
df.dropna(thresh = 2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [23]:
df.fillna(value=0.0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [25]:
df.fillna(method='ffill')

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

In [27]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64