# DataFrames

DataFrame é o elemeto mais importante dos Pandas e são diretamente inspirados pela linguagem de programação R. Podemos pensar em um DataFrame como um monte de objetos da série juntos para compartilhar o mesmo índice. Vamos usar Pandas para explorar esse tópico!

In [3]:
import pandas as pd
import numpy as np

In [9]:
from numpy.random import randn
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [21]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

## Seleção e indexação

Vamos aprender os vários métodos para pegar dados de um DataFrame

In [22]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [23]:
# Passando uma lista com nomes das colunas
df[['W','Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [24]:
df['W Z'.split()]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [25]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

As colunas dos DataFrames são Series

In [26]:
type(df['W'])

pandas.core.series.Series

**Criando uma coluna:**

In [27]:
df['new'] = df['W'] + df['Y']

In [28]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

** Removendo colunas **

In [31]:
df.drop('new', axis=1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [32]:
# Porém, tal exclusão só ocorrerá se especificada no parâmetro inplace
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [33]:
df.drop('new',axis=1,inplace=True)

In [34]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Também podemos deletar colunas desta forma:

In [36]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

**Selecionando linhas:**

In [40]:
df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

Ou selecione com base na posição em vez do rótulo

In [48]:
df.iloc[2]

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

**Selecionando o subconjunto de linhas e colunas**

In [44]:
df.loc['B','Y']

-0.031579143908112575

In [45]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579

### Seleção condicional

Uma característica importante dos pandas é a seleção condicional usando notação de colchetes, muito semelhante ao numpy:

In [49]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [59]:
df['W'] > 0

A    False
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [58]:
df[df > 0]

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [62]:
df[df['W'] > 0]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [61]:
df.query('W > 0')

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [63]:
df[df['W'] > 0]['Y']

B   -0.031579
C   -0.755325
D    0.558769
Name: Y, dtype: float64

In [68]:
df[df['W'] > 0]['Y X'.split()]

          Y         X
B -0.031579 -0.156598
C -0.755325 -0.610259
D  0.558769 -0.479448

Para duas condições, você pode usar | e & com parênteses:

In [72]:
df[(df['Y'] < 0) & (df['W'] > 1)]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419

In [74]:
df.query('Y < 0 & W > 1')

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419

## Mais Detalhes do Índice

Vamos discutir mais alguns recursos de indexação, incluindo resetar o índice ou configurá-lo de outra forma. Também falaremos sobre hierarquia de índice!

In [75]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [76]:
# Redefinir para o padrão 0,1 ... n índice
df.reset_index()

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [77]:
novoind = 'CA NY WY OR CO'.split()

In [78]:
df['Estados'] = novoind

In [79]:
df

          W         X         Y         Z Estados
A -0.993263  0.196800 -1.136645  0.000366      CA
B  1.025984 -0.156598 -0.031579  0.649826      NY
C  2.154846 -0.610259 -0.755325 -0.346419      WY
D  0.147027 -0.479448  0.558769  1.024810      OR
E -0.925874  1.862864 -1.133817  0.610478      CO

In [91]:
df.set_index('Estados')

KeyError: "None of ['Estados'] are in the columns"

In [95]:
df

                W         X         Y         Z
Estados
CA      -0.993263  0.196800 -1.136645  0.000366
NY       1.025984 -0.156598 -0.031579  0.649826
WY       2.154846 -0.610259 -0.755325 -0.346419
OR       0.147027 -0.479448  0.558769  1.024810
CO      -0.925874  1.862864 -1.133817  0.610478

In [87]:
df.set_index('Estados',inplace=True)

In [96]:
df

                W         X         Y         Z
Estados
CA      -0.993263  0.196800 -1.136645  0.000366
NY       1.025984 -0.156598 -0.031579  0.649826
WY       2.154846 -0.610259 -0.755325 -0.346419
OR       0.147027 -0.479448  0.558769  1.024810
CO      -0.925874  1.862864 -1.133817  0.610478

## Hierarquia de índices e índices múltiplos

Vamos examinar como trabalhar com o Multi-Index, primeiro criaremos um exemplo rápido de como seria um DataFrame Multi-Indexado:

In [115]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [116]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [117]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.380104 -1.666059
   2 -2.736995  1.522562
   3  0.178009 -0.626805
G2 1 -0.391089  1.743477
   2  1.130018  0.897796
   3  0.330866 -1.063049

Agora vamos mostrar como indexar isso! Para a hierarquia de índice, usamos df.loc []. Se este fosse no eixo das colunas, você usaria a notação de suporte normal df []. Chamar um nível do índice retorna um sub-dataframe:

In [122]:
df.loc['G1']

          A         B
1 -0.380104 -1.666059
2 -2.736995  1.522562
3  0.178009 -0.626805

In [124]:
df.loc['G1'].loc[1]

A   -0.380104
B   -1.666059
Name: 1, dtype: float64

In [125]:
df.index.names

FrozenList([None, None])

In [126]:
df.index.names = 'Grupo Número'.split()

In [127]:
df

                     A         B
Grupo Número
G1    1      -0.380104 -1.666059
      2      -2.736995  1.522562
      3       0.178009 -0.626805
G2    1      -0.391089  1.743477
      2       1.130018  0.897796
      3       0.330866 -1.063049

In [129]:
df.xs('G1')

               A         B
Número
1      -0.380104 -1.666059
2      -2.736995  1.522562
3       0.178009 -0.626805

In [130]:
df.xs(['G1',1])

A   -0.380104
B   -1.666059
Name: (G1, 1), dtype: float64

In [131]:
df.xs(1,level='Número')

              A         B
Grupo
G1    -0.380104 -1.666059
G2    -0.391089  1.743477